* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 0;
    background-color: #ffffff;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    color: inherit;
}

ul li {
    list-style-type: none;
}

.wrapper {
    width: 100%;
    max-width: 2000px;
    min-width: 960px;
    margin: 0 auto;
}

header {
    width: 100%;
    background: url("../img/header_bgd.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 815px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 225px;

}

header h2 {
    font-family: Exo, sans-serif;
    font-size: 47px;
    color: #282828;
    font-weight: 100;
}

header img {
    cursor: pointer;
    margin-top: 60px;
}

header div a {
    text-transform: uppercase;
    color: #ffffff;
    font-family: Exo, sans-serif;
    font-size: 12px;
    line-height: 50px;
    padding: 19px 50px;
    background-color: #ff6d6d;
    border-radius: 3px;
}

header div {
    margin-top: 40px;
}

header div a:hover {
    color: #ffffff;
}

header p {
    font-family: Exo, sans-serif;
    font-size: 11px;
    color: #8c8c8f;
    margin-top: 20px;
}

.sec1 {
    width: 100%;
    font-family: Exo, sans-serif;
}

.left_side {
    width: 60%;
    float: left;
    box-sizing: border-box;
    background-color: #ffffff;
    padding-top: 190px;
    padding-left: 150px;
    padding-right: 150px;
}

.sec1 h3 {
    font-size: 16px;
    color: #ff9c9c;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-weight: 500;
    letter-spacing: 3px;
}

.sec1 h2 {
    font-size: 41px;
    color: #282828;
    margin-bottom: 34px;
    font-weight: 500;
    letter-spacing: 1px;
}

.sec1 h2 span {
    color: #ff6d6d;
    font-size: 41px;
}

.sec1 p {
    font-size: 16px;
    line-height: 26px;
    color: #8a8a8a;
    margin-bottom: 26px;
    font-weight: 500;
    letter-spacing: 1px;
}

.right_side {
    float: left;
    width: 40%;
    box-sizing: border-box;
    height: 725px;
    background-color: #ececec;
    position: relative;
    overflow: hidden;
}

.rose_block {
    height:150%;
    background-color: #fb8686;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: rotate(55deg);
    transform-origin: bottom left;
}

.sec2 {
    width: 100%;
    height: 844px;
    background-image: url("../img/sec2_bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;

}

